<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000" >
      <img src="/images/lion.jpeg" class="d-block w-100 car-pic" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000" >
      <img
        src="/images/deer.jpeg"
        class="d-block w-100 img-responsive car-pic"  alt="...">
    </div>
    <div class="carousel-item"  data-bs-interval="5000">
      <img
        src="/images/white_tiger.jpeg"
        class="d-block w-100 img-responsive car-pic"  alt="...">
    </div>
      <div class="carousel-item"  data-bs-interval="5000">
      <img
        src="/images/eagle.jpeg"
        class="d-block w-100 img-responsive car-pic"  alt="...">
    </div>
  </div>
</div>
