<footer class="footer">
    <nav class="columns">
        <div class="columns__section">
            <h2 class="columns__section-header"> Контакты</h2>
            <ul class="columns-contacts">
                <li class="columns-contacts__item">г.Москва</li>
                <li class="columns-contacts__item">Б. Грузинская ул., 1 </li>
                <li class="columns-contacts__item">8 (499) 252-29-51</li>
                <li class="columns-contacts__item">vashZoo@mail.ru</li>
            </ul>
        </div>
        <div class="columns__section">
            <h2 class="columns__section-header">Свяжитесь с нами</h2>
            <ul class="columns-contacts">



                <li class="columns-contacts__item"><a href="">Администрация</a></li>
                <li class="columns-contacts__item"><a href="">Отдел закупок</a></li>
                <li class="columns-contacts__item"><a href="">Инвесторам</a></li>
            </ul>
        </div>
        <div class="columns__section">
            <h2 class="columns__section-header"> Социальные сети</h2>
            <ul class="columns-contacts">



                <li class="columns-contacts__item"><a href="">Instagram</a></li>
                <li class="columns-contacts__item"><a href="">Facebook</a></li>
                <li class="columns-contacts__item"><a href="">VK</a></li>
                <li class="columns-contacts__item"><a href="">Twitter</a></li>
            </ul>
        </div>
    </nav>
</footer>
