<footer class="footer">
    <nav class="columns">
        <div class="columns__section">
            <h2 class="columns__section-header"> Контакты</h2>
            <ul class="columns-contacts">
                <li class="columns-contacts__item">г.Москва</li>
                <li class="columns-contacts__item">Б. Грузинская ул., 1 </li>
                <li class="columns-contacts__item">8 (499) 252-29-51</li>
                <li class="columns-contacts__item">vashZoo@mail.ru</li>
            </ul>
        </div>
        <div class="columns__section">
            <h2 class="columns__section-header">Свяжитесь с нами</h2>
            <ul class="columns-contacts">
                <li class="columns-contacts__item">Администрация</li>
                <li class="columns-contacts__item">Отдел закупок</li>
                <li class="columns-contacts__item">Инвесторам</li>
            </ul>
        </div>
        <div class="columns__section">
            <h2 class="columns__section-header"> Социальные сети</h2>
            <ul class="columns-contacts">
                <a href="">                <li class="columns-contacts__item">Instagram</li>
                </a>
                <a href="">                <li class="columns-contacts__item">Facebook</li>
                </a>
                <a href="">                <li class="columns-contacts__item">VK</li>
                </a>
                <a href="">                <li class="columns-contacts__item">twitter</li>
                </a>
            </ul>
        </div>
    </nav>
</footer>
