<section class="gallery">
    <ul class="gallery-container">
        {{#each animals}}
        <li class="gallery-item">
            <img class="gallery__pic" src="{{img}}" alt="{{title}}">
            <h3 class="gallery__title">{{title}}</h3>
        </li>
        {{/each}}
<!--        <li class="gallery-item">-->
<!--            <img class="gallery__pic" src="/images/bear.jpeg" alt="ape">-->
<!--            <h3 class="gallery__title">Бурый медведь</h3>-->
<!--        </li>-->
<!--        <li class="gallery-item">-->
<!--            <img class="gallery__pic" src="/images/coala.jpeg" alt="ape">-->
<!--            <h3 class="gallery__title">Коала</h3>-->
<!--        </li>-->
<!--        <li class="gallery-item">-->
<!--            <img class="gallery__pic" src="/images/crocodile.jpeg" alt="ape">-->
<!--            <h3 class="gallery__title">Крокодил</h3>-->
<!--        </li>-->
<!--        <li class="gallery-item">-->
<!--            <img class="gallery__pic" src="/images/elephant.jpeg" alt="ape">-->
<!--            <h3 class="gallery__title">Слон</h3>-->
<!--        </li>-->
<!--        <li class="gallery-item">-->
<!--            <img class="gallery__pic" src="/images/giraffe.jpeg" alt="ape">-->
<!--            <h3 class="gallery__title">Жираф</h3>-->
<!--        </li>-->
<!--        <li class="gallery-item">-->
<!--            <img class="gallery__pic" src="/images/hippo.jpeg" alt="ape">-->
<!--            <h3 class="gallery__title">Гиппопотам</h3>-->
<!--        </li>-->
<!--        <li class="gallery-item">-->
<!--            <img class="gallery__pic" src="/images/leopard.jpeg" alt="ape">-->
<!--            <h3 class="gallery__title">Леопард</h3>-->
<!--        </li>-->
<!--        <li class="gallery-item">-->
<!--            <img class="gallery__pic" src="/images/monkey.jpeg" alt="ape">-->
<!--            <h3 class="gallery__title">Обезьянка</h3>-->
<!--        </li>-->
<!--        <li class="gallery-item">-->
<!--            <img class="gallery__pic" src="/images/tiger.jpeg" alt="ape">-->
<!--            <h3 class="gallery__title">Тигр</h3>-->
<!--        </li>-->
<!--        <li class="gallery-item">-->
<!--            <img class="gallery__pic" src="/images/zebra.jpeg" alt="ape">-->
<!--            <h3 class="gallery__title">Зебра</h3>-->
<!--        </li>-->
<!--        <li class="gallery-item">-->
<!--            <img class="gallery__pic" src="/images/wolf.jpeg" alt="ape">-->
<!--            <h3 class="gallery__title">Волк</h3>-->
<!--        </li>-->
    </ul>


</section>
