<nav class="navbar navbar-expand-lg navbar-light bg-light m-10 p-10 sticky-top bg-transparent position-sticky">
  <div class="container-fluid ">
      <a href="/"><div class="logo"></div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">

      <ul class="navbar-nav">
         <li class="nav-item">
             <a class="nav-link text-white hover" href="#welcome"><button type="button" class="btn btn-outline-warning">О ЗООПАРКЕ</button></a>
        </li>
        <li class="nav-item">
           <a class="nav-link text-white hover" href="#tarif"> <button type="button" class="btn btn-outline-warning">ТАРИФЫ</button></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white hover" href="/users/signin"><button type="button" class="btn btn-outline-warning">Вход</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
