<section class="tarif" id="tarif">
    <h2 class="our-tarifs">Наши тарифы</h2>
    <div class="tarif-container">
        <div class="tarif__title">
        <ul class="tarif__title-list">
                <li class="tarif__item">Тариф детский</li>
                <li class="tarif__item">ариф детский</li>
                <li class="tarif__item">ариф детский</li>
                <li class="tarif__item">ариф детский</li>
        </ul>
        </div>
        <div class="tarif__title">
            <ul class="tarif__title-list">
                    <li class="tarif__item">100</li>
                    <li class="tarif__item">100</li>
                    <li class="tarif__item">100</li>
                    <li class="tarif__item">100</li>
            </ul>
        </div>
    </div>
</section>
