<form class="container" method="post" action="/animal" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="exampleInputIMG" class="form-label">ДЛЯ ФОТКИ</label>
    <input  name="img" type="file" class="form-control" id="exampleInputIMG" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<div>

{{#each animal}}

<img src="/{{this.img}}" alt="..." width="200">

{{/each }}
</div>
