<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

         <a class="navbar-brand" href="/">Главная</a>
         <a class="navbar-brand" href="/animal">Все животные</a>
         <a class="navbar-brand" href="/users/signup">Регистрация</a>
         <a class="navbar-brand" href="/users/signin">Вход</a>
         <a class="navbar-brand" href="/users/profile">Профиль</a>
         <a class="navbar-brand" href="/users/logout">Выход</a>


    {{{body}}}
  </body>
</html>
