body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Helvetica Neue",arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #f2b31e;
  text-decoration: none;
}



img {
  width: 1000px;
  min-height: 600px;
  box-sizing: border-box;
  object-fit: cover;
}

.carousel-item {
  animation: carousel 6s linear infinite;
}

.navbar-nav {
  row-gap: 50px;
}

.carousel {
  left: 100px;
  max-width: 1280px;
}

.logo {
  position: absolute;
  width: 135px;
  height:40px;
  top: 20px;
  left: 50px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  z-index: 9999;
}

@keyframes carousel {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.10);
  }
}

.welcome {
  background-color: #fff;
}
.welcome__title {
  font-family: "Helvetica Neue",sans-serif;
  margin-top: 50px;
  font-size: 54px;
  line-height: 70px;
  font-weight: 900;
  color: #000;
  text-align: center;
}

.footer {
  padding: 20px 50px ;
  background-COLOR: rgb(56 69 64);
  margin: 0 auto;
  color: #fff;
}

.columns {
display: flex;
  justify-content: flex-start;
  gap: 100px;
}

.columns__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.columns__section-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;

}

.columns-contacts {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.columns-contacts__item {
  padding-top: 10px
}

.gallery{
  margin: 100px auto;
  max-width: 1080px;

}

.gallery-container{
  padding-left: 100px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
  grid-gap: 16px;
  list-style-type: none;
  margin: 0;
}

.gallery-item {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.gallery__pic {
  border: 1px solid #000000;
  border-radius: 10px;
  max-width: 300px;
  height: 340px;
  object-fit: cover;
}

.gallery__title {
  color: #fff;
  text-align: center;
}
